<div class="row">
    <div class="col-xs-12 col sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/yo.jpg"
        class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.apellido}} {{persona.nombre}} </p>
        <p> Desarrollador Jr</p>
    </div>
    <div class="col-xs-12 col sm-8 col-md-8 col-lg-8">
       
       
       
        <div class="row">
            <h1>Acerca de Mi</h1>
                    
            <div class="col lg 1"></div>
            <div class="col-lg-11">
                <table class="table">
                    <tbody>
                        <tr *ngFor="let Acerca of acerca">
                           
                            <td>{{Acerca.descripcionE}}</td>
                            <td *ngIf="isLogged">
                                <button class="btn btn-light" routerLink="/editace/{{Acerca.id}}">
                                    <i class="bi bi-pencil-fill"></i> EDITAR</button>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        
        </div>

       
    </div>
</div>

