.row{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
    text-align: center;
}

/*Foto Perfil*/
@media (min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 3%;
        top: 250px;
    }
} 

/*Etiqueta Nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%; 
}
